.img-logo {
    max-width: 80%;
    height: auto;
}

.flowchart-div {
    position: relative;
    height: 100%;
    width: 100%;
}

.flowchart-div-img {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
}

.centered {
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-center {
    text-align: center;
}

.space-top {
    margin-top: 20px;
}

.justified {
    text-align: justify;
}

.hint-img {
    padding: 0 0 5px 5px;
    z-index: -1;
}